body{
    background-color:#e7e4e4a1;
}
.resetform{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    height: 50vh;
}

.resetform > form{
    background-color: white;
    padding: 20px;
    width: 40vw;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



form > h1{
    text-align: center;
}
form > p{
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}

input[type=email]{
    height: 2rem;
    font-size: 1rem;
    padding: 5px;
}

.btns-div{
    display: flex;
    gap: 0.5rem;
    margin-top: 10px;
}
.btn{
    background:none;
    border: 1px solid black;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}