    {% extends 'main.html' %}
    {% load socialaccount %}
    {% load static %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'Style/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loginpage.css' %}" />
    <script src="{% static 'script/register.js' %}" defer></script>
    <title>Login</title>

    {% endblock head %}

    {% block content %}
    <div class="login-background" style = "background-image: url('{% static 'images/login-cover.jpg' %}')"></div>

    <div class="card">

      <div class="logo">
        <img src="{% static 'images/logo/applogo.png' %}" alt="error loading" />
      </div>
      <div class="appnamebox">
        <h3 class="appname">Login</h3>
      </div>
      {% if messages %}
      <div class = "error-message" data-error-message>
        {% for message in messages %}
          {% if message.tags %}
            <p>{{ message }}</p>
            <button class = "error-close-btn">&#10006;</button>
          {% endif %}
        {% endfor %} 
      </div>
      {% endif %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Username" required />

        <input type="password" name = "password" placeholder="Password" required />

        <button type="submit" class="loginBtnn">Log In</button>
      </form>

      <div class="boxone">
        <span class="forgottenLink"><a href="{% url 'reset_password' %}">Forgot password?</a></span>
      </div>
      <div class="OR">
        <div class = "hr-line"></div>
        <div class = "or-text">OR</div>
        <div class = "hr-line"></div>
      </div>
      <div class="boxthree">
        <a href="{% provider_login_url "google" %}"><button class="face-google-btn googleBtn">Login with Google</button></a>
      </div>
      <div class="boxfour">
        <span class="donot"
          >Don't have an account? <a href="{% url 'register' %}">Register</a></span>
      </div>
    </div>
    {% endblock content %}
