{% extends 'main.html' %}
{% load static %}
{%block head%}
<title>Reset Password</title>
<link rel="stylesheet" href="{% static 'styles/password_reset.css' %}" />
{% endblock head%}
{% block content %}
<div class="resetform">
    <form method="post">
        <h1>PASSWORD RESET</h1>
        <p><strong>Forgotten your password?</strong><br> Enter your email address below, and will email instructions for setting a new one.</p>

        {% csrf_token %}
        <div class="mb-3">
          {% comment %} <label for="exampleInputEmail1" class="form-label">Email address</label> {% endcomment %}
          {{form}}
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> 
        <div class = "btns-div">
        <button type="submit" class="btn">Submit</button>
        <a href = "{% url 'login' %}"><div class = "btn cancle-btn">Cancel</div></a>
        </div>
      </form>
</div>
{% endblock content %}