{% load static%}
<footer>
    <div class="footerTop">
            <div class="footer-col">
                <h4>Contact us</h4>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis soluta sunt impedit.
                </span>
            </div>
            
            <div class="footer-col">
                <h4>Our terms and condition</h4>
                <ul>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Sectionthree</h4>
                <span>
                    location details Loremipsum dolor sit amet consectetur adipelit.Ab, exercitationem?
                </span>
            </div>
    </div>

    <div class="footerMiddle">

        <div class="followusdiv">
            <div class="linethree"></div>
            <div class="followustext">
                <h4>Follow us</h4>
            </div>
            <div class="linefour"></div>
        </div>

        <div class="socialLinks">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div class="footerBottom">
        <div class="copyright">
            <p>©️rentNread All rights reserved @2022</p>
        </div>
    </div>
</footer>